extends ../layout


block body
  #main
    .row
      .column.large-6
        if errors
          each error in errors
            .alert-box.alert.radius(data-alert='')
              = __(error)
        .logo
          img(src="images/logo.png")
        .welcome
          h1.title Learning to code the fun way...
          p Global Koding Hackathon Entry


    .row
      .column.large-6
        //- h5.white You can also use one of these to login
        .row
          .column.large-6
            a.button.tiny.radius.expand.login-btn.twitter(href='/auth/twitter')
              span.icon-twitter-circled
              | &nbsp; Twitter
          .column.large-6
            a.button.tiny.radius.expand.login-btn.github(href='/auth/github')
              span.icon-social-github
              | &nbsp; Github
        .row
          .column.large-6
            a.button.tiny.radius.expand.login-btn.facebook(href='/auth/facebook')
              span.icon-facebook-circled
              | &nbsp; Facebook
          .column.large-6
            a.button.tiny.radius.expand.login-btn.google(href='/auth/google')
              span.icon-gplus-circled
              | &nbsp; Google

